{% extends "appfx:base_with_account_bar.html" %}

{% load splunkui %}

{% block title %}{{app_name}} Home Page{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">


    <style>        
        .container {
            margin-top: 30px;
        }

        .panel {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
            overflow: hidden;
            margin: 0 0 20px 0;
            height: 548px;
        }
        .panel-head {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .panel-body {
            clear: both;
            padding-top: 10px;
            padding-left: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            height: 400px;
        }
        .panel.accordion {
            margin-bottom:0px;
            height: 430px;
        }

    </style>
{% endblock css %}

{% block content %}

    <div class="container">
        <div class="row">

           <!-- Moved up -->
           <div class="span6">
                <div class="panel">
                    <div class="panel-head">
                        <h4>Top Artist Downloads</h4>
                    </div>
                    <div class="panel-body">
                        {% chart id="chart-top-artist-downloads" contextid="search-top-artist-downloads" type="column" %}
                    </div>
                </div>
            </div>

            <div class="span6">
                <div id="accordion">
                    <h3>Top Artist Searches</h3>
                    <div class="panel accordion">
                        <div class="panel-body">
                            {% chart id="chart-top-artist-searches" contextid="search-top-artist-searches" type="bar" %}
                        </div>
                    </div>
                    
                    <h3>Top Song Downloads</h3>
                    <div class="panel accordion">
                        <div class="panel-body">
                            <div class="pull-right">
                                {% paginator id="paginator-top-song-downloads" %}
                            </div>

                            {% resulttable id="table-top-song-downloads" contextid="search-top-song-downloads" paginator="paginator-top-song-downloads" %}
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

{% endblock content%}

{% block contexts %}
        {% search id="search-top-artist-searches" 
            search='| inputlookup musicdata.csv | search bc_uri=/browse/search/* | top search_terms | fields - percent | rex field=search_terms mode=sed "s/\+/ /g"'
            cache=True
        %}

        {% search id="search-top-song-downloads" 
            search="| inputlookup musicdata.csv | search bc_uri=/sync/addtolibrary* | stats count by track_name | sort count desc | table track_name count"
            cache=True
        %}

        {% search id="search-top-artist-downloads" 
            search="| inputlookup musicdata.csv | search bc_uri=/sync/addtolibrary* | timechart useother=f usenull=f span=20s count by artist_name"
            cache=True
        %}

{% endblock contexts %}



{% block js %}    
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

    <script>
        $('#accordion').accordion();

        AppFx.on('start', function() {
            AppFx.Components.getInstance('chart-top-artist-downloads').settings.set({
                'chart.nullValueMode': 'zero',
                'chart.stackMode': 'stacked100',
                'layout.splitSeries': 'false',
                'legend.placement': 'right'
            });
        });
    </script>
{% endblock js %}